<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Screen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="layout.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>

</head>
<body>

<div class="jumbotron text-center">
  <h1>Add Screen</h1>
  <p>Adding Screens Made Easy</p>
  <div>
    <ul>
      <li><a href="/homepage">Home</a></li>
      <li><a class="active" href="#news">Topics</a></li>
      <li><a href="#contact">Quiz</a></li>
      <li style="float:right"><a class="notactive" href="/logout">Logout</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="topicbox">
    <div>
      <form action ="/submitaddpage" method="post">
        <h1 style="text-transform:capitalize">{{this.topic}}</h1>
        <p>Page {{this.page}}</p>
        <input type="Text" name="page" value="{{this.page}}" hidden>

        <textarea id="h_edit" name="h1" value="" onClick='document.getElementById("btn_submit").style.visibility = "visible"'></textarea><br>

        <textarea id="p_edit" name="para1" value="" onClick='document.getElementById("btn_submit").style.visibility = "visible"'></textarea><br>
 
        <textarea id="h_edit" name="h2" value="" onClick='document.getElementById("btn_submit").style.visibility = "visible"'></textarea><br>

        <textarea id="p_edit" name="para2" value="" onClick='document.getElementById("btn_submit").style.visibility = "visible"'></textarea><br>

        <textarea id="h_edit" name="h3" value="" onClick='document.getElementById("btn_submit").style.visibility = "visible"'></textarea><br>

        <textarea id="p_edit" name="para3" value="" onClick='document.getElementById("btn_submit").style.visibility = "visible"'></textarea><br>

      <br>
          <button id="btn_submit" type="submit" name="topic" value="{{this.topic}}" style="float: right" class="btn btn-primary">Add page</button>
          <button type="button" class="btn btn-danger" onclick="goBack()" style="float: left;">Previous</button>
      </form>
      <br>
    </div>
  </div><br>
</div>

</body>

<footer>
  <br>
  <div class="jumbotron text-center">
    <p>@E-Learning 2019</p>
  </div>
</footer>
</html>
