
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Home</h1>
		<p>This is a secure page. Users need to have a valid account and be logged in to see it.</p>
		<center>
		<button name="login" type="button" onclick="location.href='/login';" value="login"> Login </button><br>
		<br>
		<button name="register" type="button" onclick="location.href='/register';" value="register"> Register </button>
		</center>
		<p><a href=""> View Profile</a></p>
		<p><a href="/logout">Log Out</a></p>
</html>
