<!DOCTYPE html>
<html lang="en">
<head>
  <title>340CT - E-Learning</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.notactive):not(.active) {
  background-color: rgb(51,51,51);
}

.active {
  background-color: #4CAF50;
}

.notactive {
  background-color: rgb(203, 92, 85);
}
</style>


</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome {{firstName}}</h1>
  <p>Mohammed's E-Learning Website</p>
  <div>
<ul>
  <li><a class="active" href="">Home</a></li>
  <li><a href="#news">Topics</a></li>
  <li><a href="#contact">Quiz</a></li>
  <li style="float:right"><a class="notactive" href="/logout">Logout</a></li>
</ul>
</div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Past Result(s)</h3>
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>-->
    </div>
    <div class="col-sm-4">
      <h3>Learn GIT</h3>
      <p>Learn about Git beginners guide.</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <button type="button" class="btn btn-primary">Git</button>
    </div>
    <div class="col-sm-4">
      <h3>Learn HTML5</h3>        
      <p>Learn about HTML5 beginners guide.</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <button type="button" class="btn btn-primary">Html5</button>
    </div><br>
	<div class="col-sm-4">
      <!--<h3></h3>        
      <p></p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>-->
    </div>
	<div class="col-sm-4">
      <h3>Learn CSS</h3>        
      <p>Learn CSS beginners guide.</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <button type="button" class="btn btn-primary">Css</button>
    </div><br>
  </div><br>
</div>

</body>
<footer>
  <br>
  <div class="jumbotron text-center">
    <p>@E-Learning 2019</p>
  </div>
</footer>
</html>
