
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  		<link rel="stylesheet" type="text/css" href="layout.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>

	<div class="jumbotron text-center">
  		<h1>Home</h1>
  		<p>E-Learning: Learn HTML5, GIT, CSS</p>
  	<div>
	<ul>
  		<li><a class=""></a></li>
	</ul>
	</div>
	</div>
		<center>
		<img src="./images/html.png" alt="HTML" width="35%" height="35%">
		</center>
		<center>
		<button type="button" class="btn btn-success" onclick="location.href='/login';" value="login">Login</button>
		<!--<button name="login" type="button" onclick="location.href='/login';" value="login"> Login </button><br>-->
		<br>
		<br>
		<button type="button" class="btn btn-info" onclick="location.href='/register';" value="register">Register</button>
		<!--<button name="register" type="button" onclick="location.href='/register';" value="register"> Register </button>-->
		</center>
	</body>
	<footer>
  		<br>
  		<div class="jumbotron text-center">
    		<p>@E-Learning 2019</p>
  		</div>
	</footer>
</html>
