
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Choose a topic</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Choose a topic</h1>
		<form action="/topic" enctype="multipart/form-data" method="post">
			<p>topic<br /><input type="text" name="topic" placeholder="Name of topic" value=""></p>
			<p>Surname:<br /><input type="text" name="surname" placeholder="your surname" value=""></p>
			<p><input type="submit" value="Submit"></p>
		</form>
	</body>
</html>